input{
    height: 50px;
    width: 230px;
    border-radius: 10px;
    background-color: lightgray;
    font-weight: bold;
    box-shadow: 0 5px 5px;
 
 }
 .container{
     margin-top:  10%;
     margin-left: 40%;
     margin-right: 40%;
     border: 2px solid rgb(85, 0, 255) ; 
     background-image: url(bg.jpeg); 
     border-radius: 10px;
     position: absolute;
     padding-left: 5px;
 
 
 }
 button{
     color:rgb(6, 0, 0);
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 5px;
     padding-right:5px ;
     font-size: 15px;
     margin-right: 10px;
     margin-bottom: 10px;
     border-radius: 25%;
     width: 50px;
     height: 30px; 
     text-align: center;
     font-weight: bold;     
 }